$bg-color: #151515;

$nav-bg-color: #775ada;
$nav-text-color: white;
$card-btn-color: #fa667c;
$card-btn-hover-color: #c7205d;
$resume-title-color: white;
$resume-subtitle-color: #b33f3f;
$resume-paragraph-color: white;
$form-bg-color: rgba($color: #000000, $alpha: .1);
$form-text-color: white;

$nav-font: 'Cairo', sans-serif;
$card-btn-font: 'Montserrat', sans-serif;
$resume-title-font: 'Open Sans', sans-serif;
$resume-subtitle-font: 'Open Sans', sans-serif;
$resume-paragraph-font: 'Avenir', sans-serif;